<!-- HEADER -->
<header class="w-full bg-white z-10 md:fixed md:top-0">
  <div
    #nav
    class="
      px-8
      text-slate-800
      md:h-24
      py-4
      md:py-0
      flex
      justify-between
      items-center
      md:block
    "
  >
    <img
      class="block md:h-12 h-10 md:float-left md:mr-8 md:translate-y-2/4"
      src="../assets/images/logo.png"
      alt="logo"
    />
    <div class="menu flex justify-between items-center">
      <div class="left md:flex md:items-center md:gap-8 hidden">
        <ul
          class="
            flex
            items-center
            content-center
            font-bold
            tracking-wide
            gap-5
            h-full
          "
        >
          <li class="hover:text-active-green h-24 flex items-center">
            <a href="#">MENU</a>
          </li>
          <li
            class="
              hover:text-active-green
              border-b-4 border-active-green
              h-24
              flex
              items-center
              pt-1
            "
          >
            <a href="#">REWARDS</a>
          </li>
          <li class="hover:text-active-green h-24 flex items-center">
            <a href="#">GIFT CARDS</a>
          </li>
        </ul>
      </div>
      <div class="right text-sm hidden md:block">
        <a href="#" class="font-semibold mr-12 hover:text-active-green"
          ><svg
            aria-hidden="true"
            class="valign-middle pr2"
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
            style="
              width: 20px;
              height: 32px;
              overflow: visible;
              fill: currentcolor;
            "
            class="inline-block mr-1"
          >
            <path
              d="M12,11.475 C10.5214286,11.475 9.32142857,10.299 9.32142857,8.85 C9.32142857,7.401 10.5214286,6.225 12,6.225 C13.4785714,6.225 14.6785714,7.401 14.6785714,8.85 C14.6785714,10.299 13.4785714,11.475 12,11.475 M12,1.5 C7.85357143,1.5 4.5,4.7865 4.5,8.85 C4.5,14.3625 12,22.5 12,22.5 C12,22.5 19.5,14.3625 19.5,8.85 C19.5,4.7865 16.1464286,1.5 12,1.5"
            ></path>
          </svg>
          Find a store</a
        >
        <button
          class="
            border-solid border-black border
            rounded-full
            py-1
            px-4
            font-semibold
            text-black
            hover:bg-zinc-100
            transition
            duration-200
            ease-linear
            mr-4
          "
        >
          Sign in
        </button>
        <button
          class="
            border-solid border-black border
            rounded-full
            py-1
            px-4
            font-bold
            text-white
            bg-black
            hover:bg-zinc-800
            transition
            duration-200
            ease-linear
          "
        >
          Join now
        </button>
      </div>
      <button
        class="
          outer-circle
          md:hidden
          border-none
          flex
          bg-transparent
          justify-center
          items-center
          cursor-pointer
        "
      >
        <div
          class="circle w-2 h-2 rounded-full transition duration-300 ease-out"
        ></div>
        <div class="ham w-5 absolute">
          <div class="line h-0.5 bg-gray-500 mb-1 rounded-full"></div>
          <div class="line h-0.5 bg-gray-500 mb-1 rounded-full"></div>
          <div class="line h-0.5 bg-gray-500 rounded-full"></div>
        </div>
      </button>
    </div>
  </div>
  <div
    #rewards
    class="rewords h-14 flex items-center justify-between bg-dark-green px-4"
  >
    <h2 class="text-sm font-bold md:ml-24 text-white">STARBUCKS® REWARDS</h2>
    <button
      class="
        md:hidden
        rounded-full
        py-1
        px-4
        font-semibold
        text-white
        bg-transparent
        border border-white
        hover:bg-emerald-900
        transition
        duration-200
        ease-linear
        text-sm
        float-right
      "
    >
      Join in the app
    </button>
  </div>
</header>
<!-- HERO SECTION -->
<div
  class="
    hero
    bg-light-green
    h-screen
    flex
    pl-8
    bg-no-repeat
    md:bg-center
    bg-right-bottom bg-cover
    md:mt-36
    justify-center
    items-start
    text-center
    md:items-center md:justify-start md:text-left
  "
>
  <div class="md:w-5/12 w-full">
    <h1 class="md:text-4xl text-2xl font-semibold mb-4 pt-8 md:pt-0">
      FREE COFFEE <br />
      IS A TAP AWAY
    </h1>
    <p class="mb-8 md:text-xl text-lg font-normal md:font-semibold">
      Join now to start earning Rewards.
    </p>
    <button
      class="
        rounded-full
        py-1
        px-4
        font-bold
        text-white
        bg-active-green
        hover:bg-green-600
        transition
        duration-200
        ease-linear
        mb-2
        md:text-lg
        text-base
      "
    >
      Join now
    </button>
    <p class="md:text-xl text-lg md:font-semibold font-normal">
      Or
      <span class="underline hover:no-underline cursor-pointer"
        >join in the app</span
      >
      for the best experience
    </p>
  </div>
</div>
<!-- START TRIGGERS -->
<section class="py-16 px-4">
  <div class="headings text-center">
    <h2 class="mb-2 text-2xl font-semibold md:text-3xl">
      Getting started is easy
    </h2>
    <h5 class="mb-10 text-sm">
      Earn Stars and get rewarded in a few easy steps.
    </h5>
  </div>
  <div class="triggers md:flex md:gap-8 md:justify-center">
    <div class="trigger flex gap-4 mb-8 md:block md:text-center md:w-1/4">
      <p
        class="
          border-2 border-active-green
          rounded-full
          text-center text-active-green
          font-bold
          text-2xl
          w-10
          h-10
          flex-none
          md:mx-auto md:my-0 md:mb-4
        "
      >
        1
      </p>
      <div class="trigger-text">
        <h3 class="font-semibold text-base mb-2 md:text-lg">
          Download the Starbucks® app
        </h3>
        <p class="text-sm">
          <span
            class="
              underline
              text-active-green
              hover:no-underline hover:cursor-pointer
            "
            >Join in the app</span
          >
          to get access to the full range of Starbucks® Rewards benefits. You
          can also
          <span
            class="
              underline
              text-active-green
              hover:no-underline hover:cursor-pointer
            "
            >join online</span
          >.
        </p>
      </div>
    </div>
    <div class="trigger flex gap-4 mb-8 md:block md:text-center md:w-1/4">
      <p
        class="
          border-2 border-active-green
          rounded-full
          text-center text-active-green
          font-bold
          text-2xl
          w-10
          h-10
          flex-none
          md:mx-auto md:my-0 md:mb-4
        "
      >
        2
      </p>
      <div class="trigger-text">
        <h3 class="font-semibold text-base mb-2 md:text-lg">
          Order and pay how you’d like
        </h3>
        <p class="text-sm">
          Use cash, credit/debit card or save some time and pay right through
          the app. You’ll collect Stars all ways.
          <span
            class="
              underline
              text-active-green
              hover:no-underline hover:cursor-pointer
            "
            >Learn how</span
          >
        </p>
      </div>
    </div>
    <div class="trigger flex gap-4 mb-8 md:block md:text-center md:w-1/4">
      <p
        class="
          border-2 border-active-green
          rounded-full
          text-center text-active-green
          font-bold
          text-2xl
          w-10
          h-10
          flex-none
          md:mx-auto md:my-0 md:mb-4
        "
      >
        3
      </p>
      <div class="trigger-text">
        <h3 class="font-semibold text-base mb-2 md:text-lg">
          Earn Stars, get Rewards
        </h3>
        <p class="text-sm">
          As you earn Stars, you can redeem them for Rewards—like free food,
          drinks, and more. Start redeeming with as little as 25 Stars!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- COFFEE TABS SECTION -->
<section>
  <div class="heading bg-pastel-green drop-shadow">
    <h2
      class="
        mb-2
        text-2xl
        font-semibold
        md:text-3xl
        pt-14
        text-center
        mb-4
        md:mb-12 md:pt-12
        lg:pt-10
      "
    >
      Get your favorites for free
    </h2>
    <ul
      class="
        flex
        gap-4
        justify-around
        py-4
        relative
        md:w-8/12 md:mx-auto
        lg:w-5/12
      "
    >
      <!-- use ngFor on the element you want to repeat not on its parent! -->
      <li
        *ngFor="let star of starList; let i = index"
        (click)="handleTabChange(i)"
        class="
          text-xl
          font-semibold
          w-full
          text-center
          hover:cursor-pointer
          md:text-2xl md:pb-4
          lg:pb-2
        "
      >
        {{ star }}<span class="text-yellow-600 text-sm">★</span>
      </li>
      <div
        class="
          absolute
          left-0
          w-1/5
          h-1
          bg-active-green
          bottom-0
          transition
          ease-out
          duration-300
        "
        [ngStyle]="{ transform: 'translate(' + leftMargin + ')' }"
      ></div>
    </ul>
  </div>
  <div class="tabs h-max bg-light-green pb-8 px-4 md:pb-4 lg:pt-6">
    <div
      class="
        tab
        text-center
        pt-8
        md:text-left md:flex md:items-center md:gap-8 md:pt-4
        lg:w-8/12 lg:mx-auto lg:pt-6
      "
    >
      <img
        [src]="coffeeTabs[currentTab].img"
        alt="coffee cups"
        class="md:w-1/2"
      />
      <div class="md:w-1/2">
        <h3 class="font-semibold text-xl my-4 md:text-2xl">
          {{ coffeeTabs[currentTab].title }}
        </h3>
        <p class="text-sm w-11/12 mx-auto md:text-lg md:w-full">
          {{ coffeeTabs[currentTab].text }}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="px-4">
  <h2
    class="
      mb-2
      text-2xl
      font-semibold
      md:text-3xl
      pt-14
      text-center
      mb-4
      md:mb-12 md:pt-12
      lg:pt-10
    "
  >
    Endless Extras
  </h2>
  <p class="text-sm text-center">
    Joining Starbucks® Rewards means unlocking access to exclusive benefits. Say
    hello to easy ordering, tasty Rewards and—yes, free coffee.
  </p>
</section>

<!-- trigger as component -->
