<header class="fixed top-0 w-full bg-white z-10">
  <div class="flex justify-between items-center px-8 text-slate-800 h-24">
    <div class="left flex items-center gap-8">
      <img class="block h-12" src="../assets/images/logo.png" alt="logo" />
      <ul
        class="
          flex
          items-center
          content-center
          font-bold
          tracking-wide
          gap-5
          h-full
        "
      >
        <li class="hover:text-active-green h-24 flex items-center">
          <a href="#">MENU</a>
        </li>
        <li
          class="
            hover:text-active-green
            border-b-4 border-active-green
            h-24
            flex
            items-center
            pt-1
          "
        >
          <a href="#">REWARDS</a>
        </li>
        <li class="hover:text-active-green h-24 flex items-center">
          <a href="#">GIFT CARDS</a>
        </li>
      </ul>
    </div>
    <div class="right text-sm">
      <a href="#" class="font-semibold mr-12 hover:text-active-green"
        ><svg
          aria-hidden="true"
          class="valign-middle pr2"
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
          style="
            width: 20px;
            height: 32px;
            overflow: visible;
            fill: currentcolor;
          "
          class="inline-block mr-1"
        >
          <path
            d="M12,11.475 C10.5214286,11.475 9.32142857,10.299 9.32142857,8.85 C9.32142857,7.401 10.5214286,6.225 12,6.225 C13.4785714,6.225 14.6785714,7.401 14.6785714,8.85 C14.6785714,10.299 13.4785714,11.475 12,11.475 M12,1.5 C7.85357143,1.5 4.5,4.7865 4.5,8.85 C4.5,14.3625 12,22.5 12,22.5 C12,22.5 19.5,14.3625 19.5,8.85 C19.5,4.7865 16.1464286,1.5 12,1.5"
          ></path>
        </svg>
        Find a store</a
      >
      <button
        class="
          border-solid border-black border
          rounded-full
          py-1
          px-4
          font-semibold
          text-black
          hover:bg-zinc-100
          transition
          duration-200
          ease-linear
          mr-4
        "
      >
        Sign in
      </button>
      <button
        class="
          border-solid border-black border
          rounded-full
          py-1
          px-4
          font-bold
          text-white
          bg-black
          hover:bg-zinc-800
          transition
          duration-200
          ease-linear
        "
      >
        Join now
      </button>
    </div>
  </div>
  <div class="rewords h-14 flex items-center bg-dark-green">
    <h2 class="font-bold ml-24 text-white">STARBUCKS® REWARDS</h2>
  </div>
</header>
<div
  class="
    hero
    bg-light-green
    h-screen
    flex
    pl-8
    bg-no-repeat
    md:bg-center md:bg-cover
    bg-left-bottom bg-contain
    mt-36
    justify-center
    items-start
    text-center
    md:items-center md:justify-start md:text-left
  "
>
  <div class="w-5/12">
    <h1 class="md:text-4xl text-2xl font-semibold mb-4 pt-8 md:pt-0">
      FREE COFFEE <br />
      IS A TAP AWAY
    </h1>
    <p class="mb-8 md:text-xl text-lg font-semibold">
      Join now to start earning Rewards.
    </p>
    <button
      class="
        rounded-full
        py-1
        px-4
        font-bold
        text-white
        bg-active-green
        hover:bg-green-600
        transition
        duration-200
        ease-linear
        mb-2
        md:text-lg
        text-base
      "
    >
      Join now
    </button>
    <p class="md:text-xl text-lg font-semibold">
      Or
      <span class="underline hover:no-underline cursor-pointer"
        >join in the app</span
      >
      for the best experience
    </p>
  </div>
</div>
<section class="py-16 px-4">
  <div class="headings text-center">
    <h2 class="mb-2 text-2xl font-semibold md:text-3xl">
      Getting started is easy
    </h2>
    <h5 class="mb-10 text-sm">
      Earn Stars and get rewarded in a few easy steps.
    </h5>
  </div>
  <div class="triggers md:flex md:gap-8 md:justify-center">
    <div class="trigger flex gap-4 mb-8 md:block md:text-center md:w-1/4">
      <p
        class="
          border-2 border-active-green
          rounded-full
          text-center text-active-green
          font-bold
          text-2xl
          w-10
          h-10
          flex-none
          md:mx-auto md:my-0 md:mb-4
        "
      >
        1
      </p>
      <div class="trigger-text">
        <h3 class="font-semibold text-base mb-2 md:text-lg">
          Download the Starbucks® app
        </h3>
        <p class="text-sm">
          <span
            class="
              underline
              text-active-green
              hover:no-underline hover:cursor-pointer
            "
            >Join in the app</span
          >
          to get access to the full range of Starbucks® Rewards benefits. You
          can also
          <span
            class="
              underline
              text-active-green
              hover:no-underline hover:cursor-pointer
            "
            >join online</span
          >.
        </p>
      </div>
    </div>
    <div class="trigger flex gap-4 mb-8 md:block md:text-center md:w-1/4">
      <p
        class="
          border-2 border-active-green
          rounded-full
          text-center text-active-green
          font-bold
          text-2xl
          w-10
          h-10
          flex-none
          md:mx-auto md:my-0 md:mb-4
        "
      >
        2
      </p>
      <div class="trigger-text">
        <h3 class="font-semibold text-base mb-2 md:text-lg">
          Order and pay how you’d like
        </h3>
        <p class="text-sm">
          Use cash, credit/debit card or save some time and pay right through
          the app. You’ll collect Stars all ways.
          <span
            class="
              underline
              text-active-green
              hover:no-underline hover:cursor-pointer
            "
            >Learn how</span
          >
        </p>
      </div>
    </div>
    <div class="trigger flex gap-4 mb-8 md:block md:text-center md:w-1/4">
      <p
        class="
          border-2 border-active-green
          rounded-full
          text-center text-active-green
          font-bold
          text-2xl
          w-10
          h-10
          flex-none
          md:mx-auto md:my-0 md:mb-4
        "
      >
        3
      </p>
      <div class="trigger-text">
        <h3 class="font-semibold text-base mb-2 md:text-lg">
          Earn Stars, get Rewards
        </h3>
        <p class="text-sm">
          As you earn Stars, you can redeem them for Rewards—like free food,
          drinks, and more. Start redeeming with as little as 25 Stars!
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="heading bg-pastel-green drop-shadow-sm">
    <h2 class="mb-2 text-2xl font-semibold md:text-3xl pt-14 text-center mb-4">
      Get your favorites for free
    </h2>
    <ul class="flex gap-4 justify-around py-4">
      <li class="text-xl font-semibold">
        25<span class="text-yellow-600 text-sm">★</span>
      </li>
      <li class="text-xl font-semibold">
        50<span class="text-yellow-600 text-sm">★</span>
      </li>
      <li class="text-xl font-semibold">
        150<span class="text-yellow-600 text-sm">★</span>
      </li>
      <li class="text-xl font-semibold">
        200<span class="text-yellow-600 text-sm">★</span>
      </li>
      <li class="text-xl font-semibold">
        400<span class="text-yellow-600 text-sm">★</span>
      </li>
    </ul>
  </div>
  <div class="tabs h-max bg-light-green pb-8 px-4">
    <div class="tab text-center">
      <img src="../assets/images/coffee1.webp" alt="coffee cups" />
      <h3 class="font-semibold text-xl my-4">Customize your drink</h3>
      <p class="text-sm w-11/12 mx-auto">
        Make your drink just right with an extra espresso shot, dairy substitute
        or a dash of your favorite syrup.
      </p>
    </div>
  </div>
</section>
